.home{
  width: 100%;
  margin-top: 7rem;
  margin-bottom: 5rem;
}
.home_container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 2rem; */
}

.home_container p{
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
  letter-spacing: 3px;
}
.home_container_box_img{
  width: 100%;
  object-fit: contain;
}
.home_container_box p{
  margin-top: 1rem;
}